@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

// COLOR VARIABLES
$color-primary: #55c57a;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-white: #fff;
$color-black: #000;
$color-grey1: #b8a69f;

$color-text: #8a8579;
$color-text1: #e08f83;
$color-text2: #cc3333;
$color-text3: #b16054;
$color-text4: #7f7a6f;
$color-text5: #2e4265;

$color-bg1: #e4ddcf;
$color-bg2: #f5e9ce;
$color-bg3: #fdece5;
$color-bg4: #fee5db;

$color-border: #efa10c;
$color-border1: #e3aa93;

$color-pink1: #ff9999;
$color-pink2: #fff0f0;
$color-pink3: #fcd4d3;
$color-red1: #d22945;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$default-font-size: 1.6rem;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

a {
  text-decoration: none;
}

.btn {
  &,
  &:link,
  &:visited {
    text-decoration: none;
    padding: 1.5rem 3rem;
    display: inline-block;
    border-radius: 99.9rem;
    transition: all .2s;
    position: relative;
    font-size: $default-font-size;

    //change for button element
    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, .3);
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, .3);
  }

  &:focus {
    outline: none;
  }
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

  @media only screen and (max-width: 1200px) {
    font-size: 55%;
  }

  @media only screen and (max-width: 991px) {
    font-size: 50%;
  }

  @media only screen and (max-width: 768px) {
    font-size: 45%;
  }

  @media only screen and (max-width: 480px) {
    font-size: 35%;
  }
}

body {
  font-family: $font-primary;
  color: $color-text;
  font-weight: 300;
  line-height: 1.4;
	overflow: auto;
}

body.modal-open {
	overflow: hidden;
}

.kids-container {
  // width: 1440px;
  max-width: 1440px;
  margin: 0 auto;
}

.kids-content {
  max-width: 1076px;
  width: 1076px;
  margin: 0 auto;
  position: relative;

  @media only screen and (max-width: 1200px) {
    width: 940px;
  }

  @media only screen and (max-width: 991px) {
    width: 715px;
  }

  @media only screen and (max-width: 768px) {
    width: 90%;
  }
}

.kids-header {
  background-color: #e4ddcf;
  z-index: 1;
  position: relative;
  transition: all 1s;
  overflow-x: hidden;
  overflow-y: hidden;

  &__menu {
    position: absolute;
    top: 3rem;
    z-index: 100;
    // padding-top: 30px;
    width: 100%;
    transition: all 0.5s;
    
    &-container {
      padding: 0 1rem;
      max-width: 1076px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
    }
    
    &-logo {
      max-width: 18rem;
    }

    &-list {
      display: flex;
    }

    &.sticky {
      position: fixed;
      top: 0rem;
      background-color: #f8f4e9;
      padding-top: 0rem;

      .landing-header__menu-link {
        color: white;
      }
    }

    &-item {
      margin-right: 4rem;
      height: 4.5rem;
      display: flex;
      align-items: center;

      &:last-child {
        margin-right: 0rem;
      }
    }
    
    &-link {
      font-size: 2.2rem;
      font-weight: 400;
      color: $color-text;
      line-height: 1.2;
      transition: all 0.2s;
      text-decoration: none;
      
      &:hover,
      &:focus,
      &.active {
        text-decoration: none;
        padding-bottom: 5px;
        color: #68645c;
        border-bottom: 2px solid #92918e;
        outline: none;
      }

      &:active {
        text-decoration: none;
        outline: none;
        color: #68645c;
        border-bottom: 2px solid #92918e;
      }
    }
  }

  &__right {
    padding-top: 25rem;

    h4 {
      font-size: 4rem;
      font-weight: 700;
      color: $color-text1;
      text-transform: uppercase;
    }

    h4 + img {
      display: none;
    }

    h3 {
      font-size: 5.5rem;
      font-weight: 900;
      color: $color-text2;
      text-transform: uppercase;
      display: inline;
    }

    img {
      width: 9rem;
      height: 7.5rem;
      vertical-align: bottom;
    }

    p {
      margin: 2rem 0;
      font-size: 1.7rem;
      font-weight: 700;
      color: $color-text3;
    }

    .kids-header__moreinfo {
      margin-bottom: 15rem;
      padding: 1.9rem 3.3rem;
      background-color: $color-red1;
      color: $color-white;
      font-size: 1.7rem;
      font-weight: 700;
      text-transform: uppercase;

      @media only screen and (max-width: 991px) {
        margin-bottom: 7rem;
      }
    }
  }

  &__uses {
    display: flex;

    &-item {
      margin-top: 2rem;
      padding: 0.8rem 2rem;
      background-color: $color-pink1;
      margin-right: 1rem;
      color: $color-white;
      font-size: 1.7rem;
      font-weight: 700;
      border-radius: 2rem;
    }
  }

  &__image {
    position: absolute;
    top: 4rem;
    right: -27rem;

    @media only screen and (max-width: 1200px) {
      width: 100rem;
      height: auto;
    }

    @media only screen and (max-width: 991px) {
      width: 67rem;
      height: auto;
      top: 14rem;
      right: -17rem;
    }
  }
}

.kids-uses {
  padding-top: 8rem;
  background-image: linear-gradient(to bottom, $color-bg1, $color-bg1 7%, $color-bg2 14%);
  display: flex;
  flex-direction: row;
  
  &__item {
    flex: 1;

    &.left {
      border-bottom: 4rem solid $color-border;
    }
  }

  &__title {
    color: $color-text4;
    font-size: 4.8rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
  
  &__box {
    display: flex;
    flex-direction: column;
    position: relative;
    border-right: 4rem solid $color-border;
    border-bottom: 4rem solid $color-border;
    border-bottom-right-radius: 10rem;

    .triangle-up {
      position: absolute;
      top: calc(0rem - 2.4rem);
      right: calc(0rem - 6rem);
      width: 0;
      height: 0;
      border-left: 4rem solid transparent;
      border-right: 4rem solid transparent;
      border-bottom: 5rem solid $color-border;
    }
  }

  &__row {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: 3rem 0;

    &-item {
      margin-right: 3rem;

      @media only screen and (max-width: 991px) {
        width: 33%;
      }

      h5 {
        margin-top: -2rem;
        color: $color-text4;
        font-size: 2.7rem;
        font-weight: bold;
        text-align: center;

        @media only screen and (max-width: 991px) {
          font-size: 2.4rem;
        }
      }

      &info {
        max-width: 25.5rem;
        min-height: 24rem;
        background-image: url('../img/kids-uses6.png');
        background-size: contain;
        background-repeat: no-repeat;
        padding: 5rem 1rem;
        color: $color-text4;
        font-size: 2.7rem;
        font-weight: bold;
        text-align: right;

        @media only screen and (max-width: 991px) {
          max-width: 22rem;
          font-size: 2.4rem;
        }

        & + img{
          display: block;
          margin: -3rem auto 0;

          @media only screen and (max-width: 991px) {
            width: 50%;
          }
        }
      }
    }
  }

  &__text {
    color: $color-text4;
    font-size: 2.7rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: -3.8rem;

    @media only screen and (max-width: 991px) {
      font-size: 2.4rem;
    }
  }

  &__image4 {
    position: absolute;
    bottom: 0rem;
    left: 24rem;

    @media only screen and (max-width: 1200px) {
      width: 38rem;
    }

    @media only screen and (max-width: 991px) {
      width: 32rem;
    }
  }

  &__image5 {
    position: absolute;
    bottom: 9rem;
    right: -5rem;

    @media only screen and (max-width: 1200px) {
      width: 41rem;
    }

    @media only screen and (max-width: 991px) {
      bottom: 12rem;
      width: 35rem;
    }
  }
}

.kids-promotion {
  background-image: linear-gradient(to bottom, $color-bg2, $color-bg2 17%, $color-white 36%);
  padding: 10rem 0;

  &__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    flex: 1;

    &-img {
      max-width: 45rem;
      min-height: 38.5rem;

      @media only screen and (max-width: 991px) {
        max-width: 80%;
        min-height: 30rem;
        height: auto;
      }
    }
  }

  &__info {
    position: relative;
    p {
      width: 40rem;
      background-color: $color-bg3;
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: 700;
      padding: 1rem 4rem;
      text-align: center;
      border-radius: 1rem;

      span {
        font-weight: 900;
      }
    }

    img {
      position: absolute;
      top: -7rem;
      right: -4rem;

      @media only screen and (max-width: 991px) {
        top: -6rem;
        right: -2rem;
        width: 25%;
      }
    }
  }
}

.kids-contact {
  padding: 3rem 0;
  background-color: $color-bg4;
  
  &__box {
    display: flex;
    flex-direction: row;
  }

  &__form {
    flex: 7;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (max-width: 991px) {
      flex: 5;
    }

    & form {
      width: 39rem;
    }
  }

  &__image {
    flex: 6;

    @media only screen and (max-width: 991px) {
      flex: 4;
    }
  }

  &__fun {
    position: absolute;
    top: 34%;
    left: -22rem;

    @media only screen and (max-width: 1200px) {
      width: 23rem;
      top: 34%;
      left: -15rem;
    }
  }
}

.form {
  &__title {
    font-size: 5.4rem;
    color: $color-text5;
    font-weight: 700;

    @media only screen and (max-width: 991px) {
      font-size: 4.5rem;
    }
  }

  &__item {
    margin-top: 1.2rem;
    flex: 1;
    display: flex;
    flex-direction: row;
  }

  &__group {
    flex: 1;

    &.name {
      flex: 7;
      margin-right: 0.5rem;
    }

    &.phone {
      flex: 3;
    }
  }

  &__input {
    font-family: $font-primary;
    display: block;
    font-size: 1.9rem;
    font-weight: 500;
    color: $color-text;
    padding: 0.8rem 0rem;
    border-radius: 2px;
    background-color: $color-bg4;
    border: none;
    border-bottom: 3px solid $color-border1;
    width: 100%;
    transition: all .3s ease-in-out;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 1rem rgba($color-black, .1);
      border-bottom: 3px solid $color-primary;
    }

    &:focus:invalid {
      border-bottom: 3px solid $color-secondary-dark;
    }

    &::-webkit-input-placeholder {
      color: $color-grey1;
    }
  }

  &__input:placeholder-shown+&__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__label {
    font-size: 1.6rem;
    font-weight: 700;
    margin-left: 0rem;
    margin-top: .7rem;
    display: block;
    transition: all .3s;
    transform: translateY(-7rem);
  }

  &__submit {
    width: 100%;
    border-radius: 0rem;
    color: $color-white;
    background-color: $color-red1;
    font-size: 2rem;
    font-weight: 700;
  }
}

.kids-ingredient {
  &__box {
    padding: 5rem 0rem 0rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
  }

  &__title {
    color: $color-text4;
    font-size: 4.8rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }

  &__detail {
    margin-top: 1rem;
    max-width: 968px;
    z-index: 0;
    position: relative;
  }

  &__note {
    max-width: 5.8rem;
    position: absolute;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.2;

    @media only screen and (max-width: 991px) {
      font-size: 1.5rem;
    }

    &.num1 {
      text-align: right;
      top: 14%;
      left: 50%;
      max-width: 5.8rem;
    }

    &.num2 {
      top: 23%;
      left: 78%;
      max-width: 5.8rem;

    }

    &.num3 {
      text-align: right;
      top: 48%;
      left: 56%;
      max-width: 7.9rem;
    }

    &.num4 {
      top: 51%;
      left: 70%;
      max-width: 6.2rem;
    }
  }

  &__kid {
    position: absolute;
    bottom: 2px;
    right: -3rem;

    @media only screen and (max-width: 1200px) {
      right: 0;
      width: 26rem;
    }

    @media only screen and (max-width: 991px) {
      width: 22rem;
    }
  }
  
  &__info {
    position: absolute;
    left: 0rem;
    bottom: 3rem;

    h5 {
      padding: 1.5rem;
      background-color: $color-pink1;
      border-radius: 1rem;  
      color: $color-white;
      font-size: 1.7rem;
      font-weight: 600;
      line-height: 1.2;
      width: 80%;
    }
  }
}

.kids-feedback {

  &__box {
    background-color: $color-pink2;
    padding: 1rem 3rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;

    @media only screen and (max-width: 768px) {
      padding: 1rem;
    }
  }
  
  &__title {
    margin: 3.5rem 0rem 0rem;
    color: $color-text4;
    font-size: 4.8rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }

  &__images {
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    border-radius: 1rem;
    margin: 3.5rem auto 4.5rem auto;
    width: 100%;
    max-width: 892px;

    img {
      flex: 1;
    }

    img:not(:last-child) {
      padding-right: 0.5rem;
    }

    &.messenger {
      @media only screen and (max-width: 768px) {
        background-color: $color-pink3;
      }
    }
    
    &.real {
      background-color: $color-pink3;
    }

  }
}

@media only screen and (max-width: 768px) {
  .kids-header {

    &__menu-logo {
      width: 128px;
    }

    &__menu-item {
      margin-right: 2rem;
    }
  
    &__right {
      padding-top: 20rem;
  
      h4 {
        font-size: 4.5rem;
        font-weight: 500;
        display: inline;
      }

      h4 + img {
        display: inline-block;
      }
  
      h3 {
        font-size: 6rem;
        font-weight: 600;
        display: block;
  
        br {
          display: none;
        }
      }

      h3 + img {
        display: none;
      }
  
      p {
        margin: 5rem 0;
        font-size: 2.3rem;
        font-weight: 600;
      }
  
      .kids-header__moreinfo {
        padding: 1.9rem 3.3rem;
        font-size: 2rem;
        font-weight: 600;
        margin-left: 10rem;
      }
    }
    
    &__image {
      width: 45rem;
      height: auto;
      top: 35rem;
      right: -7rem;
    }
  }

  .kids-uses {

    .kids-content {
      width: 100%;
      padding-right: 5%;
    }
  
    &__title {
      font-weight: 600;
    }
    
    &__box {
      padding-left: 5%;
    }
  
    &__row {
  
      &-item {
        h5 {
          font-size: 2.2rem;
          font-weight: 600;
        }
  
        &info {
          max-width: 21rem;
          font-size: 2.2rem;
          font-weight: 600;

          & + img{
            display: none;
          }
        }
      }
    }
  
    &__text {
      font-size: 2.1rem;
      font-weight: 600;
      margin-bottom: -3.6rem;
    }
  
    &__image4 {
      bottom: 0rem;
      left: 25rem;
      width: 25rem;
    }
  
    &__image5 {
      bottom: 5rem;
      right: -5rem;
      width: 30rem;
    }
  }

  .kids-promotion {

    &__info {
      p {
        width: 100%;
  
        span {
          font-weight: 700;
        }
      }
  
      img {
        top: -6rem;
        right: -2rem;
        width: 25%;
      }
    }
  }

  .kids-contact {
    .form__submit {
      border-radius: 10px;
      font-weight: 600;
    }

    &__image {
      display: none;
    }

    &__fun {
      top: 34%;
      left: -12rem;
    }
  }

  .kids-ingredient {

    &__title {
      font-weight: 600;
    }
  
    &__detail {
      width: 90%;
    }
  
    &__note {
      max-width: 5.8rem;
      position: absolute;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1.2;
  
      &.num1 {
        top: 14%;
        left: 45%;
        max-width: 7rem;
      }
  
      &.num2 {
        top: 15%;
        left: 78%;
        max-width: 5.8rem;
  
      }
  
      &.num3 {
        top: 48%;
        left: 53%;
        max-width: 7.9rem;
      }
  
      &.num4 {
        top: 30%;
        left: 78%;
        max-width: 7.5rem;
      }
    }
  
    &__kid {
      right: 0;
      width: 26rem;
    }
    
    &__info {
      bottom: 2px;

      h5 {
        padding: 1rem;
        font-size: 1.7rem;
        width: 80%;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .kids-header {

    &__menu-logo {
      width: 100px;
    }
  
    &__right {
  
      p {
        margin: 5rem 0;
        font-size: 1.7rem;
        font-weight: 600;
      }
  
      .kids-header__moreinfo {
        padding: 1.7rem 3rem;
        margin-left: 5rem;
      }
    }
    
    &__image {
      top: 37rem;
      right: -9rem;
    }
  }

  .kids-uses {
  
    &__row {
      margin-bottom: 0;
  
      &-item {
        h5 {
          font-size: 2rem;
        }
  
        &info {
          font-size: 2rem;
          max-width: 18rem;
          padding: 3rem 1rem;
        }
      }
    }
  
    &__text {
      font-size: 2rem;
      font-weight: 600;
      margin-bottom: -3.6rem;

      @media only screen and (max-width: 405px) {
        font-size: 1.8rem;
      }
    }
  
    &__image4 {
      bottom: 0rem;
      left: 20rem;
      width: 20rem;
    }
  
    &__image5 {
      width: 27rem;
    }
  }

  .kids-promotion {

    &__item {
      margin: 0 0.5rem;

      &-img {
        min-height: 25rem;
      }
    }

    &__info {
      p {
        br {
          display: none;
        }
      }
    }
  }

  .kids-ingredient {
  
    &__kid {
      right: 0;
      width: 18rem;
    }
    
    &__info {

      h5 {
        padding: 0.6rem;
      }
    }
  }
}